/* Initially hide the print area */
/* Show only the print area during printing */
@media print {
  body * {
    visibility: hidden; /* Hide all elements */
  }

  #print-container,
  #print-container * {
    visibility: visible; /* Ensure the print container and its children are visible */
  }
  #print-container {
    display: block; /* Show the print area */
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white; /* Ensure white background for printing */
    padding: 20px;
    box-sizing: border-box;
  }
}
